@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: MjkRegular;
  src: url("/Mjk-Regular.ttf");
}
@font-face {
  font-family: MjkTitles;
  src: url("/Mjktitle2-Bold.ttf");
}

#root {
  margin: 0 auto;
  text-align: center;
}
